.single-selection-input {
  background: var(--color-white);
  border-radius: var(--border-radius-1);
  padding: 0.5rem 1rem;
  color: var(--color-info-dark);
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  z-index: 1000;
}

.single-select {
  background: var(--color-white);
  width: 100%;
  height: 1.5rem;
  color: var(--color-dark);
  font-size: 1rem;
}

.input-container label {
  color: var(--color-primary);
  transition: all ease-in-out 300ms;
  margin-right: 0.5rem;
  font-size: 1rem;
}

.single-select .select__control {
  background-color: transparent;
  border: none;
  height: 1.5rem;
  min-height: fit-content;
  box-shadow: none;
}

.single-select .select__value-container {
  padding: 0;
}

.single-select .select__input-container {
  height: 1.5rem;
  margin: 0;
  padding: 0;
  color: var(--color-dark);
}

.single-select .select__indicator-separator {
  display: none;
}

.single-select .select__indicators {
  height: 1.5rem;
  color: var(--color-dark);
  font-size: 1rem;
}

.single-select .select__single-value {
  color: var(--color-dark);
  font-size: 1rem;
}

.single-select .select__menu {
  background: var(--color-white);
  margin-top: 1rem;
  padding: 0.3rem 0.5rem;
  border-radius: var(--border-radius-1);
}

.select__option:hover {
  cursor: pointer;
}

.select__option--is-focused,
.select__option--is-selected {
  border-radius: var(--border-radius-1);
}

.select__option--is-focused {
  background-color: var(--color-background) !important;
}
.select__option--is-selected {
  background-color: var(--color-primary) !important;
}

.single-selection-input label {
  display: flex;
}

.single-selection-input label p {
  margin-left: 0.3rem;
  margin-block-start: 3px;
  height: 0px;
}
